
.tudo{
    border: solid;
    margin-right: 84%;
    padding-bottom: 25%;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    padding-left: 1%;
    font-family: "Courier New", Courier, monospace;
    }

img{
    margin-left: 0.1%;
    width: 250px;
    height: 200px;
}

.btn-secondary{
    width: 280px;
    height: 50px;
    background-color: #34ce57;
    border-color: #34ce57;
}

.btn-secondary:hover{
    background-color: #8fdf82;
    border-color: #8fdf82;

}
h2{
    font-family: "Courier New", Courier, monospace;
    color: black;
}